html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top left, #E9B1B8, #07A7B6);
    font-size: 16px;
    font-family: 'Inter';
}

.text {
    color: white;
}

.info-text {
    line-height: 25px;
    color: white;
}

section {
    height: 90vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 32px; */
    padding: 16px;
    gap: 16px;
}

.info-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 32px; */
    padding: 16px;
    gap: 16px;
    text-align: center;
}

button {
    border-radius: 100px;
    padding: 12px 32px;
    font-size: 16px;
    border: none;
    gap: 8px;
    font-weight: 500;
    color: white;
}

.sign-up {
    background-color:#E9B1B8;
    letter-spacing: 1px;
    transition: all 0.1s ease-out;
}

.sign-up:hover, .sign-up:focus {
    background-color: #F697A3;
    transition: all 0.1s ease-in-out;
    padding: 16px 36px;
    outline: none;
}

.learn-more {
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    transition: all 0.1s ease-out;
}

.learn-more:hover, .learn-more:focus {
    background-color: white;
    border-color: white;
    color: black;
    transition: all 0.1s ease-in;
    padding: 16px 36px;
    outline: none;
}

.text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    padding: 16px 16px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: white;
    transition: all 0.2s ease;
    font-family: 'Inter';
    font-weight: 600;
}

input::placeholder {
    font-family: 'Inter';
    color: white;
}

input:focus {
    border: 3px solid #E9B1B8;
    padding: 20px 20px;
    transition: all 0.2s ease;
    background-color: white;
    color: black;
}

input:hover {
    padding: 20px 20px;
    transition: all 0.2s ease;
}